<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>Webpack</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/navbar}}

    <!-- Content -->
    <h1>Webpack</h1>
    <!-- Content -->
    
    <!-- Footer -->
    {{> ../components/footer}}
  </body>
</html>
